<div class="container">
  <form action="/answer" method="get">
    <div class="row-container">
      <div>
        <input id="question" type="text" name="question" placeholder="Question eg. What time is it?" value=<%= params["question"] %>>
      </div>
      <div>
        <input id="ask-button" type="submit" value="Ask!">
      </div>
    </div>
  </form>
</div>
